version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    hostname: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

  trading_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trading_bot
    command: python manage.py runserver 0.0.0.0:4000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis
    restart: unless-stopped

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trading_bot_celery_worker
    command: celery -A config worker --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - trading_bot
    restart: unless-stopped

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trading_bot_celery_beat
    command: celery -A config beat --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - trading_bot
    restart: unless-stopped

